SA_PASSWORD=YourStrong!Passw0rd

ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=DATNLor;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

VnPay__TmnCode=
VnPay__HashSecret=
VnPay__ReturnUrl=https://your-domain.com/Payment/PaymentReturn

Ghn__Token=

PaymentCallBack__ReturnUrl=https://your-domain.com/Payment/PaymentCallback
PaymentCallBack__PaymentCompleteUrl=https://your-domain.com/HoaDon/DonHang