@model AuthDemo.Models.ThuongHieu
@{
    ViewData["Title"] = "Sửa hãng sản xuất";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-warning text-white">
                <h4 class="mb-0"><i class="mdi mdi-pencil"></i> Sửa hãng sản xuất</h4>
            </div>
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="Edit" asp-controller="ThuongHieu" asp-area="Admin" method="post">
                    <input type="hidden" asp-for="BrandID" />
                    <div class="form-group">
                        <label asp-for="MaThuongHieuCode" class="form-label fw-bold">Mã hãng sản xuất</label>
                        <input asp-for="MaThuongHieuCode" class="form-control rounded-3" placeholder="Nhập mã thương hiệu..."  data-validate="required" data-label="Mã hãng sản xuất"/>
                        <span asp-validation-for="MaThuongHieuCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenThuongHieu" class="form-label fw-bold">Tên hãng sản xuất</label>
                        <input asp-for="TenThuongHieu" class="form-control rounded-3" placeholder="Nhập tên hãng..." data-validate="required" data-label="Tên hãng sản xuất"/>
                        <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success px-4">
                            <i class="mdi mdi-content-save"></i> Lưu
                        </button>
                        <a class="btn btn-secondary px-4" href="@Url.Action("Index", "ThuongHieu", new { area = "Admin" })">
                            <i class="mdi mdi-arrow-left"></i> Quay lại
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>